
src/.vs/DnD Character Sheet/v16/.suo
src/.vs/DnD Character Sheet/v16/Server/sqlite3/db.lock
src/.vs/DnD Character Sheet/v16/Server/sqlite3/storage.ide
src/.vs/DnD Character Sheet/v16/Server/sqlite3/storage.ide-shm
src/.vs/DnD Character Sheet/v16/Server/sqlite3/storage.ide-wal
src/DnD Character Sheet/bin/Debug/DnD Character Sheet.pdb
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csproj.FileListAbsolute.txt
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csproj.GenerateResource.cache
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csprojAssemblyReference.cache
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.pdb
src/DnD Character Sheet/bin/Debug/DnD Character Sheet.pdb
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csproj.FileListAbsolute.txt
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csproj.GenerateResource.cache
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.pdb
src/DnD Character Sheet/bin/Debug/DnD Character Sheet.pdb
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csproj.FileListAbsolute.txt
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.csproj.GenerateResource.cache
src/DnD Character Sheet/obj/Debug/DnD Character Sheet.pdb

src/.vs/

src/DnD Character Sheet/bin/

src/DnD Character Sheet/obj/
